!!!
%html.mdl-js{:lang => "en"}
  %head
    = render VIEWS[:partial][:_head]
  %body
    %section#introduction
      .container
        .row.fill-viewport.align-items-center.justify-content-center
          .col-12.col-md-6
            .row.justify-content-center
              .col-md-auto
                %h1.text-white.title.text-center 404
            .row.justify-content-center
              .col-md-auto
                %h1.text-white.title= I18n.t(:page_not_found)
            .row.justify-content-center.mt-4
              .col-md-auto
                %a.btn.btn-warning.btn-lg.center.px-4{:href => "/", :role => "button"}= I18n.t(:home_button)