!!!
%html.mdl-js{:lang => "en"}
  %head
    = render VIEWS[:partial][:_head]
  %body
    %section#introduction
      .container
        .row.fill-viewport.align-items-center.justify-content-center
          .col-12.col-md-6
            .row
              %p.lead.text-white-70= I18n.t(:rules)
              %a.btn.btn-warning.btn-lg{:href => "/", :role => "button"}= I18n.t(:home_button)